<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Cycle Rocks!</title>
</head>
<body>
    <h1>Full Cycle Rocks!</h1>
    <ul>
        <% for (let person of peoples) { %>
            <li><%= person.name %></li>
        <% } %>
    </ul>
</body>
</html>
